html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.element {
  background-color: black;
  color: white;
  text-align: center;
  padding: .2rem;
  border-radius: 5px;
}

.i, .n {
  border-radius: 5px;
  padding: .5rem;
  display: flex;
}

.n {
  background-color: red;

  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  width: 15%;
}

.i {
  margin-top: 2rem;
  background-color: blue;

  justify-content: space-evenly;
  width: 50%;
}